<div class="row mb-3">
	<div class="col-12">
		<div
			class="border border-info border-left border-top-0 border-right-0 border-bottom-0 pl-5"
		>
			<blockquote class="blockquote">
				<p class="mb-0">{{content}}</p>
				<footer class="blockquote-footer">
					<i class="fas fa-user text-info"></i>
					{{user.username}}
					<cite title="Comment Updated At">
						<i class="fas fa-clock text-info"></i>
						{{dateFormatter updatedAt}}
					</cite>
				</footer>
			</blockquote>
		</div>
	</div>
</div>