<nav class="row bg-info">
	<div class="col-6 pt-3 navs">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/login">Login</a></li>
		</ul>
	</div>
	<div class="col-6 text-right">
		<h1 class="mt-2 text-light">
			Tech BLOG
			<i class="fas fa-laptop-code text-yellow"></i>
		</h1>
	</div>
</nav>