{{!-- Import header --}}
{{> header}}

<div class="container my-5">
	<div class="row">
		<div class="col-10">
			<h3 class="text-capitalize">Hi {{userData.username}},</h3>
		</div>
		<div class="col-2">
			<button class="btn btn-info form-control">
				<i class="fas fa-plus"></i>
				New Post
			</button>
		</div>
	</div>

	<div class="row mt-2 mb-5">
		<div class="col-12">
			<textarea id="commentBox" rows="4" data-post-id="{{postData.id}}" data-user-id="{{userId}}" class="form-control" placeholder="Add your comment"></textarea>
			<button class="btn btn-info mt-2 btn-lg" id="commentBtn">Submit</button>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			{{#each userPosts as |post|}}
				{{> post-details}}
			{{/each}}
		</div>
	</div>
</div>

{{!-- Import footer --}}
{{> footer}}