{{!-- Import header --}}
{{> header}}

<div class="container my-5">
	<div class="row">
		<div class="col-12">
			{{#if postsData}}
				{{#each postsData as |post|}}
				<a href="/post/{{post.id}}">
					{{> post-details}}
				</a>
				{{/each}}
			{{else}}
				<p class="text-center text-info">No blog post found at this time! Login to add one or check back soon :)</p>
			{{/if}}
		</div>
	</div>
</div>

{{!-- Import footer --}}
{{> footer}}