{{!-- Import header --}}
{{> header}}

<div class="container my-5">
	<div class="row">
		<div class="col-12">
			{{#if true}}
				{{#each postsData as |post|}}
				<div class="card mb-5">
					<div class="card-header text-info">
						<h4>{{post.title}}</h4>
					</div>
					<div class="card-body">
						<p>{{post.content}}</p>
					</div>
					<div class="card-footer text-right small text-info">
						{{dateFormatter post.createdAt}}
					</div>
				</div>
				{{/each}}
			{{else}}
				<p class="text-center text-info">No blog post found at this time! Login to add one or check back soon :)</p>
			{{/if}}
		</div>
	</div>
</div>

{{!-- Import footer --}}
{{> footer}}