body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

nav {
	border-bottom: #0d5f6b solid 10px;
}

.navs ul {
	display: flex;
	padding: 0;
	margin: 0;
}

.navs ul li {
	flex: 1;
	background-color: #ffff00;
	list-style-type: none;
	text-align: center;
	font-size: 1.3rem;
	padding: 2px;
}

.navs ul li:first-child {
	border-radius: 5px 0 0 5px;
}

.navs ul li:last-child {
	border-radius: 0 5px 5px 0;
}

.navs ul li a {
	display: block;
	text-decoration: none;
	color: #18a2b8;
}

.navs ul li a:hover {
	background-color: #ffffff;
	border-radius: 5px;
}

.text-yellow {
	color: #ffff00;
}
